@import '../../../../styles/index.scss';

.productdetail {
  padding: 1rem 0;
  &-content {
    display: flex;

    &__image {
      width: 80%;
      display: flex;
      justify-content: center;

      img {
        width: 300px;
      }
    }

    &__info {
      color: $graphite-black;
      p {
        font-size: 13px;
      }
    }
  }

  &-description {
    width: 80%;

    h3 {
      color: $graphite-black;
    }

    p {
      color: $gray;
      font-size: 14px;
    }
  }
}
