@import '../../../styles/index.scss';

.productrow {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid $light-grey;

  .align-left {
    width: 80%;
    display: flex;

    .productrow-image {
      display: flex;
      flex-direction: column;

      img {
        width: 100px;
        height: 100px;
        border-radius: 5px;
        object-fit: cover;
        margin: auto;
      }
    }
  }

  &-info {
    padding: 0 1rem;
    color: $graphite-black;

    .price {
      font-size: 24px;
    }

    p {
      margin-top: 1rem;
      margin-bottom: 0;
      font-size: 18px;
    }
  }

  .align-right {
    width: 20%;
    padding-right: 5rem;
    align-self: center;
    color: $lead-black;
    font-size: 12px;
  }
}
