@import '../../styles/colors';

.breadcrumb {
  padding-bottom: 0.8rem;

  &-list {
    display: flex;
    margin: 0;
    padding: 0;

    &__item {
      display: flex;
      list-style: none;

      a {
        text-decoration: none;
        font-size: 13px;
        color: $gray;

        &:hover {
          color: $lead-black;
          font-weight: 500;
        }
      }
    }

    &__icon {
      img {
        width: 17px;
      }
    }
  }
}
